<nav class="pagination-container d-flex justify-content-center">
  <div class="pagination" *ngIf="isEmpty === false; else nothing">
    <a class="pagination-newer text-info" *ngIf="pageMeta?.first === false" (click)="prevPage()">PREV</a>
    <span class="pagination-inner">
		  <a [routerLink]="['/user']" [ngClass]="currentPage(p)" [queryParams]="getParams(p)" *ngFor="let p of pages">{{p}}</a>
		</span>
    <a class="pagination-older text-info" *ngIf="pageMeta?.last === false" (click)="nextPage()">NEXT</a>

    <a class="pagination-older text-info"><b>Total {{pageMeta?.totalElements}} records</b></a>
  </div>
    <ng-template #nothing>
      <div class="pagination text-hint">
        <nb-icon icon="file-outline"></nb-icon>There are no records here yet~
      </div>
  </ng-template>
</nav>
