<form [formGroup]="addUserForm" #userForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <label for="username" class="label col-form-label d-block">*Username</label>
          <input type="text" id="username" formControlName="username" nbInput placeholder="username">
          <span *ngIf="username.invalid && (username.dirty || username.touched)" class="label col-form-label text-warning d-block">
                <span class="mt-2 d-inline-block"><nb-icon icon="alert-triangle-outline" class="mr-2"></nb-icon></span>
                <span *ngIf="username.errors?.['required']" class="d-inline-block">Username is required</span>
                <span *ngIf="username.errors?.['minlength']" class="d-inline-block">Username length must be more than 2 </span>
                <span *ngIf="username.errors?.['maxlength']" class="d-inline-block">Username length must be less than 20 </span>
              </span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <label for="password" class="label col-form-label d-block">*Password</label>
          <input type="password" id="password" formControlName="password" nbInput placeholder="password">
          <span *ngIf="password.invalid && (password.dirty || password.touched)" class="label col-form-label text-warning d-block">
                <span class="mt-2 d-inline-block"><nb-icon icon="alert-triangle-outline" class="mr-2"></nb-icon></span>
                <span *ngIf="password.errors?.['required']" class="d-inline-block">Password is required</span>
                <span *ngIf="password.errors?.['minlength']" class="d-inline-block">Password length must be more than 8 </span>

              </span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <label for="firstname" class="label col-form-label d-block">First Name</label>
          <input type="text" id="firstname" formControlName="firstname" nbInput placeholder="first name">
          <span *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="label col-form-label text-warning d-block">
                <span class="mt-2 d-inline-block"><nb-icon icon="alert-triangle-outline" class="mr-2"></nb-icon></span>
                <span *ngIf="firstname.errors?.['maxlength']" class="d-inline-block">Firstname length must be less than 20</span>
                <span *ngIf="firstname.errors?.['minlength']" class="d-inline-block">Firstname length must be more than 2 </span>
              </span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <label for="lastname" class="label col-form-label d-block">Last Name</label>
          <input type="text" id="lastname" formControlName="lastname" nbInput placeholder="last name">
          <span *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="label col-form-label text-warning d-block">
                <span class="mt-2 d-inline-block"><nb-icon icon="alert-triangle-outline" class="mr-2"></nb-icon></span>
                <span *ngIf="lastname.errors?.['maxlength']" class="d-inline-block">Lastname length must be less than 20</span>
                <span *ngIf="lastname.errors?.['minlength']" class="d-inline-block">Lastname length must be more than 2 </span>
              </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <label for="email" class="label col-form-label d-block">*Email</label>
          <input type="email" id="email" formControlName="email" nbInput  placeholder="email">
          <span *ngIf="email.invalid && (email.dirty || email.touched)" class="label col-form-label text-warning d-block">
                <span class="mt-2 d-inline-block"><nb-icon icon="alert-triangle-outline" class="mr-2"></nb-icon></span>
                <span *ngIf="email.errors?.['required']" class="d-inline-block">Email is required</span>
                <span *ngIf="email.errors?.['email']" class="d-inline-block">The format must be email.</span>
              </span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <div>
            <label for="role" class="label col-form-label d-block">Role</label>
          </div>
          <div>
            <nb-select id="role" [(selected)]="roleSelected">
              <nb-option value="1">Administrator</nb-option>
              <nb-option value="2">Boss</nb-option>
              <nb-option value="3">Manager</nb-option>
              <nb-option value="4">User</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button type="submit" [disabled]="addUserForm.invalid" nbButton  shape="round" status="info" class="mr-3">Save User</button>
    <button nbButton (click)="userForm.resetForm()" shape="round" class="ml-3">Reset Form</button>
  </div>
</form>
