<nb-card>
    <div class="table-basic general m-b-110">
      <div class="table-basic-body js-pscroll ps ps--active-y">
        <table>
          <thead class="table-basic-head">
          <tr class="row100 head">
            <th class="basic-cell" *ngFor="let item of columns | keyvalue">{{item.value.title}}</th>
            <th class="basic-cell">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr class="row100 body"  *ngFor="let record of this.records">
            <td class="basic-cell" *ngFor="let column of columns | keyvalue">{{record[column.key]}}</td>
            <td class="basic-cell">
              <span class="operation"><a href="#"><nb-icon icon="trash-2-outline"></nb-icon> del</a> &nbsp;&nbsp;
                <a href="#"><nb-icon icon="edit-2-outline"></nb-icon> edit</a>
              </span>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <hl-pagination-basic [pageMeta] = "pageMeta" *ngIf="pageMeta"></hl-pagination-basic>
    </div>
</nb-card>
