<nb-card>
    <div class="table-basic general m-b-110">
      <div class="table-basic-body js-pscroll ps ps--active-y">
        <table>
          <thead class="table-basic-head">
          <tr class="row100 head">
            <th class="basic-cell" *ngFor="let item of table.columns | keyvalue">{{item.value.title}}</th>

          </tr>
          </thead>
          <tbody>
          <tr class="row100 body" *ngFor="let item of table?.data?.data?.content">
            <td class="basic-cell ">{{item['id']}}</td>
            <td class="basic-cell">{{item['username']}}</td>
            <td class="basic-cell">{{item['email']}}</td>
            <td class="basic-cell">{{item['firstname']}}</td>
            <td class="basic-cell">1033</td>
            <td class="basic-cell">
              <span class="operation"><a href="#"><nb-icon icon="trash-2-outline"></nb-icon> del</a> &nbsp;&nbsp;
                <a href="#"><nb-icon icon="edit-2-outline"></nb-icon> edit</a>
              </span>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <hl-pagination-basic></hl-pagination-basic>
    </div>
</nb-card>
